/* Rafael Cortês
   v1.0 | 20130401
   Author: mrfyda
   License: none (public domain)
*/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
    height: 100%;
}
body {
    background-attachment: fixed;
    background-image: url('../images/background.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    width: 90%;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
}
header {
    margin: 5% 0 0 0;
}
nav ul li {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    width: 15%;
}
nav ul li.active a{
    color: #fff;
}
nav ul li a {
    color: #ccc;
    display: block;
    height: 100%;
    padding: 1em 5% 1em 1em;
    text-decoration: none;
    width: 100%;
}
nav ul li a:hover {
    color: #000;
}
#content {
    margin: 5% 0;
    text-shadow: 0 0 0.05em #fff;
    width: 50%;
}
#content h1,
#content h2 {
    color: #555;
    font-size: 2.8em;
    margin: 0 0 2% 0;
}
#content h2 {
    font-size: 2.0em;
}
#content p,
#content ul li {
    font-size: 1.5em;
    line-height: 1.2em;
}
#content ul li a span {
    position: absolute;
    margin-top: 0.4em;
}
.portfolio-item {
    background: #fff;
    padding: 2%;
}
.portfolio-item img {
    border: 1px solid #aaa;
}
.horizontal li {
    display: inline;
    list-style-type: none;
}
footer {
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    height: 4%;
    padding: 1% 1% 0;
    position: fixed;
    text-align: right;
    width: 88%;
}
footer hr {
    border-color: #aaa;
    border-style: dashed;
}
footer p {
    color: #555;
    font-size: 0.9em;
}
@media all and (max-width: 1200px) {
    nav ul li {
        margin-bottom: 1%;
        width: 25%;
    }
}
@media all and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 2%;
        padding: 0.5em;
        width: auto;
    }
    nav ul li a {
        padding: 0;
    }
    #content {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5%;
        margin-bottom: 17%;
        width: auto;
    }
    #content h1 {
        margin: 0 0 2% 0;
    }
    .portfolio-item {
        margin: 0;
    }
    footer {
        height: 8%;
    }
}
